#frame {
    display: flex;
    align-items: flex-end;
    height: 700px;
}
#box {
    width: 85px;
    height: 85px;
    position: absolute;
    left: 20px;
    top: 585px;
    border-radius: 50%;
};

#obama {
    top: 500px;
}
#bball {
    height: 80px;}
#board {
    height: 200px;
    position: absolute;
    left: 950px;
    top: 150px;

}