#frame {
    display: flex;
    align-items: flex-end;
    height: 700px;
}
#box {
    width: 85px;
    height: 85px;
    position: absolute;
    background: gray;
    left: 70px;
    top: 545px;
    border-radius: 50%;
};

#obama {
    top: 500px;
}